{% block header %}
<h1>{{ title }}</h1>
<p><b>Namn:</b> {{ bird.name }}</p>
<p><b>Art:</b> {{ bird.species }}</p>
<p><b>Vingspann:</b> {{ bird.wingspan }}</p>
<p><b>Beskrivning:</b> {{ bird.description }}</p>
{% endblock %}